.calendar{width:100%;margin:50px 0px 20px 0px;color:#555;position: relative;}
.calendar h4 {border-bottom: 2px solid #5bd999;text-align: center;font-size: 22px;font-weight: 700;margin-bottom:0px;padding: 12px 0;}
.calendar button {position: absolute;width: 24px;height: 24px;top: 15px;border: none;}
.calendar button:focus { border: none;outline: none; }
.calendar button.month-less {left: 20px;background: url(img/left-icon.png) no-repeat left -60px;}
.calendar button.month-add {right: 20px;background: url(img/right-icon.png) no-repeat left -60px;}
.calendar .sign_tab{width: 100%;border-collapse: collapse;border: 1px solid #e8e8e8;border-top: 0;table-layout: fixed;}
.calendar .sign_tab th{text-align: center;height: 14.28571428571429vw;font-weight: 700;}
.calendar .sign_tab td{border: 1px solid #e8e8e8;height: 14.28571428571429vw;text-align: center;font-size: 22px;font-family: arial;}
.calendar .sign_tab td.over{background-color: #fff;border-left: 0;border-right: 0;}
.calendar .ui-state-default{background: url(img/checkin.png) no-repeat center center;}
.calendar .sign_tab td.cur_day{background-color: #FFD2D2;color: #FFF;}